.closed-modal {
  display: none !important;
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);

  display: flex;
  justify-content: center;
  align-items: center;

  .modal-main {
    background-color: white;
  }
}